<div class="flex flex-column gap-3 p-3">
    <div class="flex justify-content-between align-items-center">
        <h3 class="m-0 text-700">Registros de Material</h3>
        <p-button label="Agregar Nuevo" icon="pi pi-plus" (click)="addMaterialRegister()"></p-button>
    </div>

    <p-table [value]="registers" [rows]="5" [paginator]="true" [rowHover]="true" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Categoría</th>
                <th>Tipo</th>
                <th>Solución</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-register>
            <tr>
                <td>{{ register.category }}</td>
                <td>{{ register.type }}</td>
                <td>{{ register.solution }}</td>
                <td>{{ register.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <p-button icon="pi pi-eye" [text]="true" [rounded]="true" severity="info" pTooltip="Ver Detalle" (click)="viewRegister(register)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-center p-4">No hay registros de material.</td>
            </tr>
        </ng-template>
    </p-table>

    <div class="flex justify-content-end mt-3 border-top-1 surface-border pt-3">
        <p-button label="Cerrar" icon="pi pi-times" [text]="true" (click)="close()"></p-button>
    </div>
</div>
