.history-container {
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  
  table {
    width: 100%;
    
    th.mat-header-cell {
      background-color: #f5f5f5;
      font-weight: bold;
    }
    
    td.mat-cell {
      padding: 8px 16px;
    }
  }
  
  .no-data {
    padding: 2rem;
    text-align: center;
    color: rgba(0,0,0,0.54);
  }
}

mat-dialog-actions {
  padding: 16px 24px;
}
