.status-danger {
    background-color: #ffcdd2;
    color: #c63737;
    padding: 0.25em 0.5rem;
    border-radius: 4px;
    font-weight: 700;
}

.status-warn {
    background-color: #feedaf;
    color: #8a5340;
    padding: 0.25em 0.5rem;
    border-radius: 4px;
    font-weight: 700;
}

.status-success {
    background-color: #c8e6c9;
    color: #256029;
    padding: 0.25em 0.5rem;
    border-radius: 4px;
    font-weight: 700;
}
