# Valores preconfigurados para VOC/NOC
create_resource_group     = false
resource_group_name       = "voc-project"
location                  = "eastus"
environment               = "prod"
servicebus_namespace_name = "sb-voc-project"
servicebus_sku            = "Basic"
queue_name                = "noc-news-schedules"
