# Ejemplo de valores para terraform.tfvars
create_resource_group     = false
resource_group_name       = "rg-voc-dev"
location                  = "eastus2"
environment               = "dev"
servicebus_namespace_name = "sb-voc-dev-news"
servicebus_sku            = "Basic"
queue_name                = "noc-news-schedules"
