<div class="flex flex-column gap-4 p-4" [formGroup]="form">
    <div class="flex flex-column gap-2">
        <label for="category" class="font-bold">Categoría</label>
        <p-select [options]="categories" formControlName="category" optionLabel="label" optionValue="value"
            placeholder="Seleccione Categoría" appendTo="body" styleClass="w-full"></p-select>
    </div>

    <div class="flex flex-column gap-2">
        <label for="type" class="font-bold">Tipo</label>
        <p-select [options]="filteredTypes()" formControlName="type" optionLabel="label" optionValue="value"
            placeholder="Seleccione Tipo" appendTo="body" styleClass="w-full"
            [disabled]="!form.get('category')?.value"></p-select>
    </div>

    <div class="flex flex-column gap-2">
        <label for="solution" class="font-bold">Solución</label>
        <p-select [options]="filteredSolutions()" formControlName="solution" optionLabel="label" optionValue="value"
            placeholder="Seleccione Solución" appendTo="body" styleClass="w-full"
            [disabled]="!form.get('type')?.value"></p-select>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="Cancelar" styleClass="p-button-text" (click)="cancel()"></p-button>
        <p-button label="Aceptar" (click)="submit()" [disabled]="form.invalid"></p-button>
    </div>
</div>
