<div class="flex flex-column gap-2 p-fluid p-4">
    <p-steps [model]="items" [(activeIndex)]="currentStep" [readonly]="false" styleClass="mb-5"></p-steps>

    <div *ngIf="!canEditCore && isAssignedUser"
        class="bg-blue-50 border-round p-3 mb-3 flex align-items-center gap-2 text-blue-700">
        <i class="pi pi-info-circle text-xl"></i>
        <span class="font-medium">Modo Restringido: Solo puedes agregar comentarios, archivos, reasignar y actualizar el
            estado.</span>
    </div>

    <form [formGroup]="form" class="flex flex-column gap-2">
        <app-production-step-general *ngIf="currentStep === 0" [form]="form" [teams]="(teams$ | async) ?? []"
            [statuses]="workflowStages"
            [minDate]="minDate" [existingFiles]="existingFiles" [disabledFileUpload]="!canEditCore && !isAssignedUser"
            [canRemoveFiles]="canEditCore || isAssignedUser" (fileSelect)="onFileSelect($event)"
            (fileRemove)="onFileRemove($event)" (fileClear)="onFileClear()" (fileDownload)="downloadFile($event)"
            (fileDelete)="removeFile($event)">
        </app-production-step-general>

        <app-production-step-customer *ngIf="currentStep === 1" [form]="form">
        </app-production-step-customer>

        <app-production-step-campaign *ngIf="currentStep === 2" [form]="form" [campaignObjectives]="campaignObjectives"
            [products]="(products$ | async) ?? []" (addProduct)="addCampaignProduct()"
            (removeProduct)="removeCampaignProduct($event)">
        </app-production-step-campaign>

        <app-production-step-audience *ngIf="currentStep === 3" [form]="form" [genders]="genders"
            [ageRanges]="ageRanges" [socioeconomicLevels]="socioeconomicLevels">
        </app-production-step-audience>

        <app-production-step-production *ngIf="currentStep === 4" [form]="form" [formatTypes]="formatTypes"
            [rightsDurations]="rightsDurations">
        </app-production-step-production>

    </form>

    <div class="flex justify-content-between gap-2 mt-4">
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger"
            (click)="cancel()"></button>

        <div class="flex gap-2">
            <button *ngIf="currentStep > 0" pButton label="Atrás" icon="pi pi-arrow-left" class="p-button-outlined"
                (click)="prev()"></button>
            <button *ngIf="currentStep < 4" pButton label="Guardar y Continuar" icon="pi pi-arrow-right"
                (click)="next()"></button>
            <button *ngIf="currentStep === 4" pButton label="Guardar" icon="pi pi-check" (click)="saveData(true)"
                [loading]="(isUploading$ | async) ?? false"></button>
        </div>
    </div>
</div>