
/* PrimeNG and PrimeFlex */
/* Themes are loaded via app.config.ts in v18+ */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
    --font-family: 'Poppins', sans-serif;
}

/* Global overrides */
body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family);
}

.full-width {
  width: 100%;
}
