<div class="flex flex-column gap-4 p-4">
    <div class="flex flex-column gap-2">
        <label for="consecutive" class="font-medium">Consecutivo<span class="text-red-500">*</span></label>
        <p-inputNumber inputId="consecutive" [(ngModel)]="consecutive" [useGrouping]="false" [min]="1"
            placeholder="Ingrese número" styleClass="w-full" class="w-full block" [inputStyle]="{'width': '100%'}">
        </p-inputNumber>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="Cancelar" severity="secondary" (onClick)="cancel()"></p-button>
        <p-button label="Confirmar" (onClick)="confirm()" [disabled]="!consecutive"></p-button>
    </div>
</div>