<div [formGroup]="form" class="flex flex-column gap-3">
    <div formGroupName="customerData" class="flex flex-column gap-3">
        <div class="formgrid grid">
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <p-select [options]="clientTypes" formControlName="clientAgency" optionLabel="label" optionValue="value" styleClass="w-full" />
                    <label>Cliente / Agencia</label>
                </p-floatlabel>
            </div>
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="requesterName" class="w-full" />
                    <label>Nombre del Solicitante</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="requesterEmail" class="w-full" />
                    <label>Email del Solicitante</label>
                </p-floatlabel>
            </div>
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <p-inputMask formControlName="requesterPhone" mask="999 999-9999" styleClass="w-full" />
                    <label>Teléfono del Solicitante</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <input pInputText formControlName="businessName" class="w-full" />
                    <label>Razón Social</label>
                </p-floatlabel>
            </div>
            <div class="col-12 md:col-6">
                <p-floatlabel variant="in">
                    <p-inputMask formControlName="nit" mask="999999999-9" styleClass="w-full" />
                    <label>NIT</label>
                </p-floatlabel>
            </div>
        </div>
    </div>
</div>